<!DOCTYPE html>
<html lang="es_CL">

<head>
	<meta charset="UTF-8">
	<title>API Constructora Casiel SPA</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">

</head>

<body>

	<div class="container">
		<div class="jumbotron">
			<h1>API Constructora Casiel SPA!</h1>
			<a href="/api/v1/usuarios/all" class="btn btn-primary">Usuarios</a>
			<a href="/api/v1/tratamientos/all" class="btn btn-primary">Tratamientos</a>
			<a href="/api/v1/sesiones/all" class="btn btn-primary">Sesiones</a>
			<a href="/api/v1/roles/all" class="btn btn-primary">Roles</a>
			<a href="/api/v1/discapacidades/all" class="btn btn-primary">Discapacidades</a>
			<hr>
			<a href="/api/v1/users" class="btn btn-primary">Users</a>
		</div>
	</div>

</body>

</html>
